<h1>User's wishlist</h1>

<ul>
	<% @user_wishlist.each do |item|  %>
	<% wishlist_item = item.item %>
	<li>
		<img src= <%=wishlist_item.image_url50%>> 
	
		<%= link_to wishlist_item.name, item_details_path(wishlist_item.id) %>

		 <%= wishlist_item.price %>
		

	</li>
	<% end %>
</ul>