<h1>Item</h1>

<a href="/items/<%= @rand_record %>">View All Items</a>

<a href="/items/category/<%= 'womens' %>">View Womens</a>
<a href="/items/category/<%= 'mens' %>">View Mens</a>

<!-- womens -->
<a href="/items/category/<%= 'shoes' %>">View Shoes</a>

